body{
    padding: 0;
    margin: 0;
    background-color: #616FA0;
    font-family: 'K2D', sans-serif;
}

.all_container{
    margin: 0 auto;
    width: 40em;
    padding-top: 2em;
}

.container1{
    background-color: #FFFFFF;
    padding: 4% 5% 9.5% 5%;
    border: 0;
    border-radius: 5px;
    margin-top: 10%;
}

.container2{
    color: #616FA0;
    margin: 0 10% 0 10%;
    font-size: 24px;
}

.container2 input{
    font-size: 24px;
    color: #626262;
    padding: 0 3% 0 3%;
    width: 100%;
    height: 53px;
    border: 1px solid #616FA0;
    box-sizing: border-box;
    border-radius: 5px;
    margin: -20px 0 -10px 0;
}

.forgotPassword{
    color: #616FA0;
    font-size: 20px;
    padding: 0;
    margin: 0 10% 0 34%;
}

.container2 button{
    font-size: 24px;
    color:#FFFFFF;
    width: 100%;
    height: 53px;
    border: #616FA0;
    background: #616FA0;
    border-radius: 5px;
}

* h1{
    color:#FFFFFF;
    font-size: 40px;
}

* h2{
    color: #616FA0;
    font-size: 30px;
}

.logo {
    margin: 23% auto 22%;
    display: block;
    width: 3.5%;
    height: auto;
}

@keyframes welcome {
    50% {
        opacity: 1;
        top: 0;
    }
    100% {
        top: -100%;
        opacity: 0;
    }
}

.box {
    top: 0;
    animation: welcome 3s normal forwards ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #616FA0;
}