.container3{
    min-width: 74.9em;
    color: #616FA0;
    padding-bottom: 3em;
}

* li{
    list-style: none;
}


.Name{
}

.Name ul{
    margin: 0;
    padding: 2%;
    display: flex;
}

.Name ul li{
    width: 100%;
    font-size: 24px;
    margin: 0 1em 0 1em;
    text-align: center;
}


.HeadTable{
}

.HeadTable ul{
    margin: 0 5%;
    padding: 1% 1% 0 0;
    display: flex;
}

.HeadTable ul li{
    width: 100%;
    padding: 1%;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 2.5px solid #FFFFFF;
    background-color: #616FA0;
}


.BodyTable{
}

.BodyTable ul{
    margin: 0 5%;
    padding: 0% 1% 0 0;
    display: flex;
}

.BodyTable ul li{
    width: 100%;
    padding: 1%;
    font-size: 20px;
    color: #616FA0;
    text-align: left;
    border: 2.5px solid #FFFFFF;
}

.sty1{
    background-color: #C5CCE7;
}

.button{
    margin: 2em 6% 0 5%;
    text-align: center;
    
}

button{
    width: 10em;
    padding: 1%;
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #616FA0;
    border: 1px solid #616FA0;
}

.skin{
    margin: 0 6% 0 5%;
    padding: 1.5%;
    height: 1em;
    border: 2.5px solid #FFFFFF;
    background-color: #616FA0;
}


#confirm {
    display: none;
    background-color: #8E8E8E;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#confirm button {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#confirm .message {
    text-align: left;
}