body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'K2D', sans-serif;
}

.container1{
    background-color: #616FA0;
    color: white;
    display: flex;
    width: 100%;
    max-height: 9em;
}

.container1 .IconLogo{
    margin: 1em;
}

.container1 .IconLogo img{
    height: 67.14px;
    width: 70px;
}

.container1 .HeadText{
    margin: 1em 1em;
    padding: 0;
    display: block;
}

.container1 .HeadText h1{
    margin: 0 0 0 0;  
    padding: 0;
    color: #FFFFFF;
    font-size: 25px;
}

.container1 .HeadText p{
    margin: 10px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 18px;
}

.container_content{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    /* max-height: 100%; */
    /* border: 1px solid black; */
}

.container_content .container2{
    padding: 0;
    margin: 0; 
    display: block;
    background-color: #616FA0;
    width: 20em;
    /* max-height: 100%; */
    /* border: 1px solid black; */
}

.container_content .container2 .section{
    height: 31.42em;
    padding: 2em 1em 1em;
    background-color: #C5CCE7;
}

.container_content .section .HeadSection{
    margin: 1em 0;
    padding: 0 0 0.5em;
    border-bottom: 2px solid #FFFFFF;
    font-size: 24px;
    color: #616FA0;
}

.container_content .section .HeadSection p{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.container_content .container2 .What{
    padding: 0;
    margin: 0;
    width: 20em;
    height: 6em;
    bottom: 0;
    background-color: #616FA0;
    display: flex;
    /* position: fixed; */
}

.container_content .container2 .What img{
    width: 56px;
    height: 50.41px;
    margin: 24px;
}

* a{
    text-decoration: none;
    color: #616FA0;
}